<div class="wrapper-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <header class="header">
          <!-- Hamburger icon -->
          <label class="drawer-open" for="drawer">
            <i class="fa-solid fa-bars"></i>
          </label>
          <input type="checkbox" hidden id="drawer" />

          <!-- logo -->
          <div class="logo-header">
            <a href="#!">
              <div class="logo-icon"><i class="fa-solid fa-gavel"></i></div>
              <div class="logo-text">
                <span class="logo-main">Justice</span>
                <span class="logo-sub">Law Firm</span>
              </div>
            </a>
          </div>
          <!-- end logo -->

          <!-- Nav -->
          <nav class="nav-header">
            <a href="./index.html" class="nav-list nav-list-active"
              ><p>Home <i class="fa-solid fa-chevron-up"></i></p>
            </a>
            <a href="./about.html" class="nav-list">
              About <i class="fa-solid fa-chevron-down"></i>
            </a>

            <div class="nav-list has-dropdown">
              <a href="./practice-areas.html" class="dropdown-toggle">
                Practice Areas <i class="fa-solid fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Divorce</a></li>
                <li class="active">
                  <a href="#">
                    <p>
                      Personal Injury
                      <i class="right fas fa-angle-right"></i></p
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><p>Employment <i class="right fas fa-angle-right"></i></p
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><p>Immigration <i class="right fas fa-angle-right"></i></p>
                  </a>
                </li>
                <li>
                  <a href="#"
                    ><p>Family <i class="right fas fa-angle-right"></i></p
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><p>Property <i class="right fas fa-angle-right"></i></p
                  ></a>
                </li>
              </ul>
            </div>

            <a href="./blog.html" class="nav-list">
              Attorneys <i class="fa-solid fa-chevron-down"></i>
            </a>
            <a href="./contact.html" class="nav-list">
              Page <i class="fa-solid fa-chevron-down"></i>
            </a>
          </nav>
          <!-- end Nav -->

          <!-- cta -->

          <div class="header-phone">
            Call: <span class="phone-number">(000) 123 456 789</span>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>
