<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper-about-section">
      <%- include("./partials/header.ejs") %>
      <!-- heading about -->
      <div class="about-section-container">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="about-section-content">
                <span class="sub-heading">#1 Law Firm in New York</span>
                <h1>Where The Experience To Guide You</h1>
                <p>
                  A law firm with deep expertise in New Jersey residential &
                  investment property transactions and many other things.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end heading about -->
    </div>
    <!-- about - STORY  -->
    <div class="wrapper-story-section">
      <section class="story-section">
        <div class="story-container">
          <div class="container">
            <div class="row">
              <div class="col-5">
                <span class="sub-heading">#Story</span>
                <h2>Through And Complete Attention to Law</h2>
                <p>
                  Your initial meeting with Parmele Law Firm sets in motion the
                  difficult – and tedious – process of getting your benefits for
                  you.
                </p>
                <p>
                  While Mr. Parmele, his paralegals, and clerks are busy
                  assisting you with your forms, helping you assemble your
                  documentation, and keeping you updated regularly, Mr. Parmele
                  is busy behind the scenes, focusing on winning your case.
                </p>
                <p>How your case ends up may well be up to you.</p>
              </div>
              <div class="col-6 offset-1">
                <div class="story-img">
                  <img src="./img/story-1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end about-story   -->

    <!-- Gallery Section -->
    <section class="gallery-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="practice-heading">
              <span class="practice-tag">#Gallery</span>
              <h2 class="practice-tittle">Justice Law Firm</h2>
              <p>
                Our Law Office provides a professional experience for all our
                clients, helping them navigate their legal rights.
              </p>
            </div>
          </div>

          <div class="col-12">
            <div class="img-gallery">
              <img src="./img/gallery-1.png" alt="" />
            </div>
          </div>

          <div class="col-12">
            <div class="dot-feedback">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54"
                height="6"
                viewBox="0 0 54 6"
                fill="none"
              >
                <circle cx="19" cy="3" r="3" fill="#0E1412" />
                <circle cx="3" cy="3" r="3" fill="#FD6038" />
                <circle cx="35" cy="3" r="3" fill="#0E1412" />
                <circle cx="51" cy="3" r="3" fill="#0E1412" />
              </svg>
            </div>
          </div>

          <div class="col-12">
            <div class="data-gallery">
              <div class="data-gallery-item">
                <h1>1782</h1>
                <span class="sub-heading">Law Cases</span>
              </div>

              <div class="data-gallery-item">
                <h1>10+</h1>
                <span class="sub-heading">Lawyer</span>
              </div>

              <div class="data-gallery-item">
                <h1>98%</h1>
                <span class="sub-heading">Happy Clients</span>
              </div>

              <div class="data-gallery-item">
                <h1>90%</h1>
                <span class="sub-heading">Winning case</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Gallery -->

    <!-- Video Section -->
    <section class="video-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="practice-heading">
              <span class="practice-tag">#Video</span>
              <h2 class="practice-tittle">Our History & Mission</h2>
              <p>
                Our Law Office provides a professional experience for all our
                clients, helping them navigate their legal rights.
              </p>
            </div>
          </div>

          <div class="col-12">
            <div class="video-wrapper">
              <img
                src="./img/video-1.png"
                alt="Video thumbnail"
                class="video-thumb"
              />
              <div class="play-button">
                <span class="play-icon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Video Section -->

    <div class="wrapper-lawyer">
      <!-- lawyer -->
      <section class="lawyer">
        <!-- heading lawyer -->
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="lawyer-heading">
                <span class="lawyer-tag">#Team</span>
                <h2 class="lawyer-tittle">Meet With Lawyers</h2>
                <p>
                  Our team of experienced team more than $150 Million in
                  Settlements and Judgments for Our Clients
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- end heading lawyer -->

        <!-- Lawyer Item -->
        <div class="lawyer-container">
          <div class="container">
            <div class="row g-3">
              <div class="col-4">
                <div class="lawyer-item lawyer-item-1">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-1.png" alt="" />
                      <button class="btn-primary">View Profile</button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="lawyer-item lawyer-item-2">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-2.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="lawyer-item lawyer-item-3">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-3.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-4">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-4.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-5">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-5.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-6">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-6.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button class="btn-primary">All Attorney</button>
              </div>
            </div>
          </div>
          <!-- End lawyer-item -->
        </div>
      </section>
    </div>
    <!-- end Attorneys section -->

    <!-- Awards Section -->
    <div class="wrapper-awards">
      <section class="awards-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="awards-heading">
                <span class="sub-heading">#Awards</span>
                <h2>Our Honors & Awards</h2>
              </div>
            </div>

            <!-- award- item -->
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-1.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-2.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-3.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Faq -->
    <div class="wrapper-faq">
      <section class="faq-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="faq-heading">
                <span class="sub-heading">#FAQ</span>
                <h2>Frequently Asked Questions</h2>
              </div>
              <div class="faq-tabs">
                <button class="faq-btn faq-btn-active">General Question</button>
                <button class="faq-btn">Other Question</button>
              </div>
            </div>

            <div class="col-12">
              <!-- Box 1 -->
              <div class="faq-accordion faq-accordion-active">
                <!-- question -->
                <div class="faq-question">
                  <h3>Why should I hire an attorney?</h3>
                  <div class="faq-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                    >
                      <rect
                        width="28"
                        height="28"
                        transform="matrix(0 -1 -1 0 28 28)"
                        fill="#FD6038"
                      />
                      <path
                        d="M20 17L14 11L8 17"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <!-- end question -->

                <!-- answer -->
                <div class="faq-answer">
                  <p>
                    When you are faced with a personal injury, the physical and
                    emotional burden should not be taken for granted. Hiring an
                    attorney not only provides trusted legal guidance but
                    someone to stand in your corner when you need it most.
                    Insurance companies are seeking their best interest and not
                    your own, so it’s always a good idea to seek counsel.
                  </p>
                </div>
                <!-- end answer -->
              </div>
              <!-- end box 1 -->
              <div class="col-12">
                <div class="faq-line"></div>
              </div>
            </div>

            <!-- question 2 & 3 -->
            <div class="faq-accordion faq-accordion-sub">
              <div class="faq-question">
                <h3>I am still hurting. What do I do next?</h3>
                <div class="faq-arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    fill="none"
                  >
                    <rect
                      x="28"
                      width="28"
                      height="28"
                      transform="rotate(90 28 0)"
                      fill="#0E1412"
                    />
                    <path
                      d="M20 11L14 17L8 11"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-12"><div class="faq-line"></div></div>

            <div class="faq-accordion faq-accordion-sub">
              <div class="faq-question">
                <h3>How will I pay for my medical bills</h3>
                <div class="faq-arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    fill="none"
                  >
                    <rect
                      x="28"
                      width="28"
                      height="28"
                      transform="rotate(90 28 0)"
                      fill="#0E1412"
                    />
                    <path
                      d="M20 11L14 17L8 11"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <!-- end question 2 & 3 -->
          </div>
        </div>
      </section>
    </div>
    <!-- end Faq -->

    <!-- BLOG -->
    <div class="wrapper-blog">
      <section class="blog-section">
        <!-- Blog Heading -->
        <div class="container">
          <div class="row">
            <div class="col-12 sub-heading">#Blog</div>
            <div class="col-12"><h2>Latest Story & News</h2></div>
            <div class="col-6">
              <p>
                We’re always adding new content to help better inform our
                clients on issues impacting their lives.
              </p>
            </div>
            <div class="col-2 offset-4">
              <button class="btn-primary">Browse All</button>
            </div>
          </div>
        </div>
        <!-- End Blog Heading -->

        <!-- Blog Item -->
        <div class="wrapper-blog-item">
          <div class="container">
            <div class="row">
              <!-- Box -1  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-1.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-active">Learn More</a>
                </div>
              </div>

              <!-- Box - 2  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-2.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-sub">Learn More</a>
                </div>
              </div>

              <!-- Box - 3  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-3.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-sub">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog Item -->
      </section>
    </div>
    <!-- END BLOG -->

    <!-- CTA Section-->
    <div class="wrapper-cta">
      <section class="cta-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="heading-cta">
                <span class="sub-heading">#CTA</span>
                <h2>Dealing With a Issue?</h2>
                <p>
                  Where every injury is personal. We are a different kind of law
                  firm. Let our small, passionate group of trial lawyers fight
                  for your rights!
                </p>
                <button class="btn-primary">Get a Consultations</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <%- include("./partials/Footer.ejs") %>

    <script type="module" src="./main.js"></script>
  </body>
</html>
