<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attorneys</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper-blog-big">
      <%- include("./partials/header.ejs") %>
      <section class="blog-section">
        <!-- Blog Heading -->
        <div class="container">
          <div class="row">
            <div class="col-12"><h1>Our Regular Blog</h1></div>
            <div class="col-6">
              <p>
                With our experience we are ready to help you create a modern
                property with an easy step.
              </p>
            </div>
          </div>
        </div>
        <!-- End Blog Heading -->

        <!-- Blog Item -->
        <div class="blog-item-container">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-1.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-2.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-3.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-4.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>
              <!-- row 2 -->
              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-5.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-6.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-7.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-8.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>
              <!-- row 3 -->
              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-9.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-10.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-11.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-12.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>
              <!-- row 4 -->

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-13.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-14.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-15.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>

              <div class="col-3">
                <a href="#!">
                  <div class="blog-big-img">
                    <img src="./img/bblog-16.png" alt="" />
                  </div>
                  <div class="blog-big-content">
                    <div class="blog-big-content-main">
                      Top 20 Effective Digital Marketing Tools to Help
                    </div>
                    <div class="blog-big-content-sub">July 27, 2021</div>
                  </div>
                </a>
              </div>
              <!-- ROW 5 -->
              <div class="col-12">
                <div class="blog-btn">
                  <button class="btn-primary">Load More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog Item -->
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>

    <script type="module" src="./main.js"></script>
  </body>
</html>
