<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper-home">
      <%- include("./partials/header.ejs") %>
      <section class="hero-home">
        <div class="container">
          <div class="row">
            <!-- start left -->
            <div class="col-6">
              <div class="hero-left">
                <div class="sub-heading">#1 Law Firm in New York</div>
                <h1 class="hero-title">
                  Where People Meets Personalized Support.
                </h1>
                <p>
                  Where every injury is personal. We are a different kind of law
                  firm. Let our small, passionate group of trial lawyers fight
                  for your rights!
                </p>
                <div class="btn-home">
                  <button class="btn-primary">Get a Consultations</button>
                </div>
              </div>
            </div>
            <!-- end left -->
            <div class="col-5 offset-1">
              <div class="hero-right">
                <img src="./img/banner.png" alt="" />
                <div class="item-right"></div>
                <div class="hero-video"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- about -->
    <div class="wrapper-about">
      <section class="about-section">
        <div class="container">
          <div class="row">
            <!-- Left side -->
            <div class="col-6">
              <div class="about-img">
                <img src="./img/img-2.png" alt="" />
              </div>
            </div>

            <!-- Right side -->
            <div class="col-5 offset-1">
              <div class="about-right">
                <div class="sub-heading">#About Us</div>
                <h2>Get the Guidance, Support, and Counsel</h2>
                <p class="about-info">
                  Every year hundreds of clients choose our firm because of our
                  dedication to advocating for our clients before, during and
                  after closing.
                </p>

                <!-- Stats group -->
                <div class="container">
                  <div class="row">
                    <div class="col-4"><h3>1782</h3></div>
                    <div class="col-4"><h3>10+</h3></div>
                    <div class="col-4"><h3>98%</h3></div>
                  </div>
                  <div class="row">
                    <div class="col-4"><p>Law Cases</p></div>
                    <div class="col-4"><p>Lawyer</p></div>
                    <div class="col-4"><p>Happy Clients</p></div>
                  </div>
                </div>

                <!-- CTA button -->
                <div class="btn-about">
                  <button class="btn-primary">Learn More</button>
                </div>
              </div>
            </div>
            <!-- .col-5 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </section>
    </div>

    <!-- practice areas -->
    <div class="wrapper-practice">
      <!-- practice -->
      <section class="practice">
        <!-- heading practice -->
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="practice-heading">
                <span class="practice-tag">#Services</span>
                <h2 class="practice-tittle">Our Practice Areas</h2>
                <p>
                  Our Law Office provides a professional experience for all our
                  clients, helping them navigate their legal rights.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- end heading practice -->

        <!-- Practice Item -->
        <div class="practice-container">
          <div class="container">
            <div class="row g-3">
              <div class="col-4">
                <div class="practice-item practice-item-injury">
                  <button class="btn-primary">Personal Injury Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-employment">
                  <button class="btn-sub">Employment Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-immigration">
                  <button class="btn-sub">Immigration Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-family">
                  <button class="btn-sub">Family Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-divorce">
                  <button class="btn-sub">Divorce Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-property">
                  <button class="btn-sub">Property Law</button>
                </div>
              </div>
              <div class="col-12">
                <button class="btn-primary">View All</button>
              </div>
            </div>
          </div>
          <!-- End practice-item -->
        </div>
      </section>
      <!-- end Practice section -->

      <!-- Features 1 -->
      <section class="features-section">
        <div class="container">
          <div class="row">
            <!-- Left side -->
            <div class="col-6">
              <div class="features-img features-img-1">
                <img src="./img/features-1.png" alt="" />
              </div>
            </div>
            <!-- End Left -->

            <!-- Right side -->
            <div class="col-5 offset-1">
              <div class="features-right">
                <div class="sub-heading">#Features</div>
                <h2>A Heritage of Legal Talent in the US</h2>
                <p class="features-info">
                  When you are seeking the services of a nationally recognized
                  law firm, you have every right to expect an extra measure of
                  expertise.
                </p>

                <!-- List -->
                <ul>
                  <li>Fast and Responsive</li>
                  <li>Top Notch Communication</li>
                  <li>Emotional Intelligence</li>
                </ul>
              </div>
            </div>
            <!-- End-Right -->
          </div>
        </div>
      </section>
      <!-- end Features 1 -->

      <!-- Features 2 -->
      <section class="features-section features-section-2">
        <div class="container">
          <div class="row">
            <!-- Left side -->
            <div class="col-6 offset-1">
              <div class="features-img features-img-2">
                <img src="./img/features-2.png" alt="" />
              </div>
            </div>
            <!-- End Left -->

            <!-- Right side -->
            <div class="col-5">
              <div class="features-right">
                <div class="sub-heading">#Features</div>
                <h2>Exceptional Scope and Diverse Practices</h2>
                <p class="features-info">
                  Our attorneys provide clients with extensive knowledge and
                  experience in each specialized area of practice we offer. We
                  are providing the best.
                </p>

                <!-- button -->
                <div class="btn-features">
                  <button class="btn-primary">Our Services</button>
                </div>
              </div>
            </div>
            <!-- End-Right -->
          </div>
        </div>
      </section>
      <!-- end Features 2 -->
    </div>

    <!-- Attorneys -->
    <div class="wrapper-lawyer">
      <!-- lawyer -->
      <section class="lawyer">
        <!-- heading lawyer -->
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="lawyer-heading">
                <span class="lawyer-tag">#Team</span>
                <h2 class="lawyer-tittle">Meet With Lawyers</h2>
                <p>
                  Our team of experienced team more than $150 Million in
                  Settlements and Judgments for Our Clients
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- end heading lawyer -->

        <!-- Lawyer Item -->
        <div class="lawyer-container">
          <div class="container">
            <div class="row g-3">
              <div class="col-4">
                <div class="lawyer-item lawyer-item-1">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-1.png" alt="" />
                      <button class="btn-primary">View Profile</button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="lawyer-item lawyer-item-2">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-2.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="lawyer-item lawyer-item-3">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-3.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-4">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-4.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-5">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-5.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="lawyer-item lawyer-item-6">
                  <div class="lawyer-img">
                    <a href="#!">
                      <img src="./img/law-6.png" alt="" />
                      <button class="btn-primary btn-primary-hide">
                        View Profile
                      </button>
                    </a>
                  </div>
                  <div class="lawyer-info">
                    <h4 class="lawyer-name">David Warner</h4>
                    <h5 class="lawyer-position">Attorney at Law</h5>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button class="btn-primary">All Attorney</button>
              </div>
            </div>
          </div>
          <!-- End lawyer-item -->
        </div>
      </section>
    </div>
    <!-- end Attorneys section -->

    <!-- Awards Section -->
    <div class="wrapper-awards">
      <section class="awards-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="awards-heading">
                <span class="sub-heading">#Awards</span>
                <h2>Our Honors & Awards</h2>
              </div>
            </div>

            <!-- award- item -->
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-1.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-2.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-3.png" alt="" />
              </div>
            </div>
            <div class="col-3">
              <div class="awards-item">
                <img src="./img/awards-4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Feedback-->
    <div class="wrapper-testimonial">
      <section class="testimorial-section">
        <div class="container">
          <div class="row">
            <div class="col-5">
              <div class="testimorial-heading">
                <div class="sub-heading">#Testimonial</div>
                <h2>What Our Clients Say About Us</h2>
              </div>
            </div>
            <div class="col-2 offset-5">
              <div class="btn-testimonial">
                <button class="btn-sub">
                  <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="btn-primary">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="testimorial-feedback">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <!-- Feedback-item -->
                <div class="testimorial-feedback-item">
                  <img src="./img/fb-1.png" alt="" />
                  <div class="testimorial-feedback-content">
                    <p>
                      "I am very satisfied with this Law Office. Very
                      professional, quick responses to calls, humble and
                      understanding. Marty has done a lot of work for me and
                      helped my friends and myself work through some sticky
                      issues. His staff is professional and hard working! I
                      recommend anyone who needs a lawyer to Marty Meason and
                      his team."
                    </p>
                    <!-- quote -->
                    <div class="quote-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="24"
                        viewBox="0 0 27 24"
                        fill="none"
                      >
                        <path
                          d="M10.3195 2.70354C9.09015 4.2903 7.11804 6.83574 6.68716 9.89869C6.51948 11.0907 6.35177 13.1968 8.73677 13.6736C10.918 14.1097 13.395 18.0446 10.4137 22.2169C8.94373 24.2742 3.26427 25.7932 0.724676 19.4354C-0.703839 15.8591 -0.989539 7.03768 9.29575 0.361995C10.3975 -0.353189 12.1113 -0.0352947 11.159 1.55408C10.9849 1.84477 10.685 2.23178 10.3195 2.70354Z"
                          fill="#FED464"
                        />
                        <path
                          d="M25.5308 2.70353C24.3014 4.29029 22.3293 6.83574 21.8984 9.89869C21.7307 11.0907 21.563 13.1968 23.948 13.6736C26.1292 14.1097 28.6062 18.0446 25.625 22.2169C24.155 24.2742 18.4755 25.7932 15.9359 19.4354C14.5074 15.8591 14.2217 7.03768 24.507 0.361995C25.6088 -0.353189 27.3226 -0.0352947 26.3703 1.55408C26.1961 1.84476 25.8963 2.23178 25.5308 2.70353Z"
                          fill="#FED464"
                        />
                      </svg>
                    </div>
                    <!-- end quote -->
                    <div class="author-info">
                      <h3>Tim Southee</h3>
                      <p>UI/UX Designer</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <!-- Feedback-item -->
                <div class="testimorial-feedback-item">
                  <img src="./img/fb-2.png" alt="" />
                  <div class="testimorial-feedback-content">
                    <p>
                      "I am very satisfied with this Law Office. Very
                      professional, quick responses to calls, humble and
                      understanding. Marty has done a lot of work for me and
                      helped my friends and myself work through some sticky
                      issues. His staff is professional and hard working! I
                      recommend anyone who needs a lawyer to Marty Meason and
                      his team."
                    </p>
                    <!-- quote -->
                    <div class="quote-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="24"
                        viewBox="0 0 27 24"
                        fill="none"
                      >
                        <path
                          d="M10.3195 2.70354C9.09015 4.2903 7.11804 6.83574 6.68716 9.89869C6.51948 11.0907 6.35177 13.1968 8.73677 13.6736C10.918 14.1097 13.395 18.0446 10.4137 22.2169C8.94373 24.2742 3.26427 25.7932 0.724676 19.4354C-0.703839 15.8591 -0.989539 7.03768 9.29575 0.361995C10.3975 -0.353189 12.1113 -0.0352947 11.159 1.55408C10.9849 1.84477 10.685 2.23178 10.3195 2.70354Z"
                          fill="#FED464"
                        />
                        <path
                          d="M25.5308 2.70353C24.3014 4.29029 22.3293 6.83574 21.8984 9.89869C21.7307 11.0907 21.563 13.1968 23.948 13.6736C26.1292 14.1097 28.6062 18.0446 25.625 22.2169C24.155 24.2742 18.4755 25.7932 15.9359 19.4354C14.5074 15.8591 14.2217 7.03768 24.507 0.361995C25.6088 -0.353189 27.3226 -0.0352947 26.3703 1.55408C26.1961 1.84476 25.8963 2.23178 25.5308 2.70353Z"
                          fill="#FED464"
                        />
                      </svg>
                    </div>
                    <!-- end quote -->
                    <div class="author-info">
                      <h3>Trent Boult</h3>
                      <p>UI/UX Designer</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <!-- Feedback-item -->
                <div class="testimorial-feedback-item">
                  <img src="./img/fb-3.png" alt="" />
                  <div class="testimorial-feedback-content">
                    <p>
                      "I am very satisfied with this Law Office. Very
                      professional, quick responses to calls, humble and
                      understanding. Marty has done a lot of work for me and
                      helped my friends and myself work through some sticky
                      issues. His staff is professional and hard working! I
                      recommend anyone who needs a lawyer to Marty Meason and
                      his team."
                    </p>
                    <!-- quote -->
                    <div class="quote-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="24"
                        viewBox="0 0 27 24"
                        fill="none"
                      >
                        <path
                          d="M10.3195 2.70354C9.09015 4.2903 7.11804 6.83574 6.68716 9.89869C6.51948 11.0907 6.35177 13.1968 8.73677 13.6736C10.918 14.1097 13.395 18.0446 10.4137 22.2169C8.94373 24.2742 3.26427 25.7932 0.724676 19.4354C-0.703839 15.8591 -0.989539 7.03768 9.29575 0.361995C10.3975 -0.353189 12.1113 -0.0352947 11.159 1.55408C10.9849 1.84477 10.685 2.23178 10.3195 2.70354Z"
                          fill="#FED464"
                        />
                        <path
                          d="M25.5308 2.70353C24.3014 4.29029 22.3293 6.83574 21.8984 9.89869C21.7307 11.0907 21.563 13.1968 23.948 13.6736C26.1292 14.1097 28.6062 18.0446 25.625 22.2169C24.155 24.2742 18.4755 25.7932 15.9359 19.4354C14.5074 15.8591 14.2217 7.03768 24.507 0.361995C25.6088 -0.353189 27.3226 -0.0352947 26.3703 1.55408C26.1961 1.84476 25.8963 2.23178 25.5308 2.70353Z"
                          fill="#FED464"
                        />
                      </svg>
                    </div>
                    <!-- end quote -->
                    <div class="author-info">
                      <h3>Matt Henry</h3>
                      <p>UI/UX Designer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="dot-feedback">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="54"
                    height="6"
                    viewBox="0 0 54 6"
                    fill="none"
                  >
                    <circle cx="19" cy="3" r="3" fill="#0E1412" />
                    <circle cx="3" cy="3" r="3" fill="#FD6038" />
                    <circle cx="35" cy="3" r="3" fill="#0E1412" />
                    <circle cx="51" cy="3" r="3" fill="#0E1412" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end feedback -->

    <!-- Faq -->
    <div class="wrapper-faq">
      <section class="faq-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="faq-heading">
                <span class="sub-heading">#FAQ</span>
                <h2>Frequently Asked Questions</h2>
              </div>
              <div class="faq-tabs">
                <button class="faq-btn faq-btn-active">General Question</button>
                <button class="faq-btn">Other Question</button>
              </div>
            </div>

            <div class="col-12">
              <!-- Box 1 -->
              <div class="faq-accordion faq-accordion-active">
                <!-- question -->
                <div class="faq-question">
                  <h3>Why should I hire an attorney?</h3>
                  <div class="faq-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                    >
                      <rect
                        width="28"
                        height="28"
                        transform="matrix(0 -1 -1 0 28 28)"
                        fill="#FD6038"
                      />
                      <path
                        d="M20 17L14 11L8 17"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <!-- end question -->

                <!-- answer -->
                <div class="faq-answer">
                  <p>
                    When you are faced with a personal injury, the physical and
                    emotional burden should not be taken for granted. Hiring an
                    attorney not only provides trusted legal guidance but
                    someone to stand in your corner when you need it most.
                    Insurance companies are seeking their best interest and not
                    your own, so it’s always a good idea to seek counsel.
                  </p>
                </div>
                <!-- end answer -->
              </div>
              <!-- end box 1 -->
              <div class="col-12">
                <div class="faq-line"></div>
              </div>
            </div>

            <!-- question 2 & 3 -->
            <div class="faq-accordion faq-accordion-sub">
              <div class="faq-question">
                <h3>I am still hurting. What do I do next?</h3>
                <div class="faq-arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    fill="none"
                  >
                    <rect
                      x="28"
                      width="28"
                      height="28"
                      transform="rotate(90 28 0)"
                      fill="#0E1412"
                    />
                    <path
                      d="M20 11L14 17L8 11"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-12"><div class="faq-line"></div></div>

            <div class="faq-accordion faq-accordion-sub">
              <div class="faq-question">
                <h3>How will I pay for my medical bills</h3>
                <div class="faq-arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    fill="none"
                  >
                    <rect
                      x="28"
                      width="28"
                      height="28"
                      transform="rotate(90 28 0)"
                      fill="#0E1412"
                    />
                    <path
                      d="M20 11L14 17L8 11"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <!-- end question 2 & 3 -->
          </div>
        </div>
      </section>
    </div>
    <!-- end Faq -->

    <!-- BLOG -->
    <div class="wrapper-blog">
      <section class="blog-section">
        <!-- Blog Heading -->
        <div class="container">
          <div class="row">
            <div class="col-12 sub-heading">#Blog</div>
            <div class="col-12"><h2>Latest Story & News</h2></div>
            <div class="col-6">
              <p>
                We’re always adding new content to help better inform our
                clients on issues impacting their lives.
              </p>
            </div>
            <div class="col-2 offset-4">
              <button class="btn-primary">Browse All</button>
            </div>
          </div>
        </div>
        <!-- End Blog Heading -->

        <!-- Blog Item -->
        <div class="wrapper-blog-item">
          <div class="container">
            <div class="row">
              <!-- Box -1  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-1.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-active">Learn More</a>
                </div>
              </div>

              <!-- Box - 2  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-2.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-sub">Learn More</a>
                </div>
              </div>

              <!-- Box - 3  -->
              <div class="col-4">
                <div class="blog-item">
                  <a href="#!">
                    <img src="./img/blog-3.png" alt="" class="img-blog" />
                  </a>
                  <div class="blog-content">
                    <!-- Author -->
                    <div class="blog-author">
                      <img
                        src="./img/blog-avt.png"
                        alt=""
                        class="author-avatar"
                      />
                    </div>
                    <div class="author-info">
                      <h4>Mitchell Starc</h4>
                      <p>Attorney at Law</p>
                    </div>
                  </div>
                  <!-- Title -->
                  <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>

                  <!-- CTA -->
                  <a href="#!" class="blog-link blog-link-sub">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog Item -->
      </section>
    </div>
    <!-- END BLOG -->

    <!-- CTA Section-->
    <div class="wrapper-cta">
      <section class="cta-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="heading-cta">
                <span class="sub-heading">#CTA</span>
                <h2>Dealing With a Issue?</h2>
                <p>
                  Where every injury is personal. We are a different kind of law
                  firm. Let our small, passionate group of trial lawyers fight
                  for your rights!
                </p>
                <button class="btn-primary">Get a Consultations</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <%- include("./partials/Footer.ejs") %>

    <script type="module" src="./main.js"></script>
  </body>
</html>
