<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="section-wrapper-practice">
      <%- include("./partials/header.ejs") %>
      <!-- heading about -->
      <div class="about-section-container">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="about-section-content">
                <span class="sub-heading">#Practice Areas</span>
                <h1>Our Practice Areas to Serve You</h1>
                <p>
                  Where every injury is personal. We are a different kind of law
                  firm. Let our small, passionate group of trial lawyers fight
                  for your rights!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end heading about -->
    </div>

        <!-- practice areas -->
    <div class="wrapper-practice">
      <!-- practice -->
      <section class="practice">
        <!-- heading practice -->
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="practice-heading">
                <span class="practice-tag">#Services</span>
                <h2 class="practice-tittle">Our Practice Areas</h2>
                <p>
                  Our Law Office provides a professional experience for all our
                  clients, helping them navigate their legal rights.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- end heading practice -->

        <!-- Practice Item -->
        <div class="practice-container">
          <div class="container">
            <div class="row g-3">
              <div class="col-4">
                <div class="practice-item practice-item-injury">
                  <button class="btn-primary">Personal Injury Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-employment">
                  <button class="btn-sub">Employment Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-immigration">
                  <button class="btn-sub">Immigration Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-family">
                  <button class="btn-sub">Family Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-divorce">
                  <button class="btn-sub">Divorce Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-item practice-item-property">
                  <button class="btn-sub">Property Law</button>
                </div>
              </div>
              <div class="col-12">
                <button class="btn-primary">View All</button>
              </div>
            </div>
          </div>
          <!-- End practice-item -->
        </div>
      </section>
      <!-- end Practice section -->

      <!-- CTA Section-->
    <div class="wrapper-cta">
      <section class="cta-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="heading-cta">
                <span class="sub-heading">#CTA</span>
                <h2>Dealing With a Issue?</h2>
                <p>
                  Where every injury is personal. We are a different kind of law
                  firm. Let our small, passionate group of trial lawyers fight
                  for your rights!
                </p>
                <button class="btn-primary">Get a Consultations</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->

    <%- include("./partials/Footer.ejs") %>


    <script type="module" src="./main.js"></script>
  </body>
</html>
